<!--The content below is only a placeholder and can be replaced.-->
<div>
<ul>
  <li>
    <h1><a href ="" >Consulter les trajets </a></h1>
  </li>
  <li>
    <h1><a href="" >Créer un trajet</a></h1>
  </li>
  <li>
    <button [routerLink]="['/login']">Connexion</button>
    <button [routerLink]="['/register']">S'inscrire</button>
  </li> 
</ul>
 <h1>Bienvenue sur Covoitauto!</h1>

  <router-outlet></router-outlet> 
</div>

<app-trips-display></app-trips-display>
<app-trips-search></app-trips-search>


