<!--The content below is only a placeholder and can be replaced.-->
<div id="header">
<img src="logo.png" alt="logo">
<div class="trajet">
   <!-- <button [routerLink]="['/search']">Consulter les trajets </button> -->
    <button [routerLink]="['/create']">Créer un trajet</button>
</div>
<div class="connexion">
    <button [routerLink]="['/login']">Connexion</button>
    <button [routerLink]="['/register']">S'inscrire</button>
</div>
<h1>Bienvenue sur Covoitauto!</h1>
<div class="search">
    <h3>En voiture! choisissez votre trajet : </h3>
    <app-trips-search></app-trips-search>   
</div>

  <router-outlet></router-outlet> 
</div>

