<form *ngIf="!isLogged" style="float: right;">
  	<div class = "form-group">
    	<label for="login"> Pseudo </label>
    	<input [(ngModel)]="login" type="text" class="form-control" id="login" required placeholder="email" name = "login"/>
 	</div>
	<div>
    	<label for="passwd"> Mot de passe </label>
    	<input [(ngModel)]="passwd" type="password" class="form-control" id="pass" required placeholder="password" name = "pass"/>
  	</div>
  	<button type="submit" (click)="onSubmit()"> Connection </button>
</form>
<div *ngIf="isLogged" style="float: right;">
	{{login}} est connecté
	<br/>
	<button (click)="logout()">Se déconnecter</button>
</div>
